*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: monospace;
  color: darkslategray;
  font-size: 1rem;
  background-color: aliceblue;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.app {
  display: flex;
  margin-top: 60px;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.header h1 {
  font-size: 3rem;
}

.search {
  position: absolute;
  margin-top: 100px;
}

.search input {
  height: 40px;
  width: 280px;
  border-radius: 20px;
  padding-left: 20px;
}

.create-note {
  margin-top: 100px;
}

.create-note textarea {
  height: 160px;
  width: 600px;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

.colorbutton {
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 5px;
  vertical-align: top;
  cursor: pointer;
}

.add-button {
  position: absolute;
  margin-top: -50px;
  margin-left: 460px;
  width: 120px;
  height: 36px;
  background-color:darkcyan;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.color-palette {
  display: flex;
  position: absolute;
  margin-top: -40px;
  margin-left: 15px;
}

.color {
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
}

.red {
  background-color: red;
  box-shadow: 0 0 2px 2px red;
}

.purple {
  background-color: purple;
  box-shadow: 0 0 2px 2px purple;
}

.yellow {
  background-color: gold;
  box-shadow: 0 0 2px 2px gold;
}

.blue {
  background-color: blue;
  box-shadow: 0 0 2px 2px blue;
}

.green {
  background-color: green;
  box-shadow: 0 0 2px 2px green;
}

.notes {
  margin-top: 20px;
  padding: 10px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0;
  overflow:auto;
  border-radius: 15px;
  box-shadow: 2px 0 4px 5px #888888;
}

.note-button {
  padding: 15px 30px;
  border-radius: 15px;
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 10px;
  box-shadow: 10px 10px 8px #888888;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b4b4b4;
}